<p id="notice"><%= notice %></p>

<div class="hero">
	<p>
		We meet every Sunday coding <b>Web</b> have fun
	</p>

	<p class="hero-links">
		<%= link_to "create new events", new_event_path %>
		<br>
		<%= link_to "about us", "#" %>
		<br>
		<%= link_to "join us", "#" %>
		<br>
	</p>
</div>

<h2>All events</h2>

<ul class="home">
<% if !@events.nil? %>
		<% @events.each do |e| %>
		<li>
			<a href="/events/"></a>
			<i><%= e.time %></i>
			<h3><%= link_to e.title, e %></h3>
		</li>
		<% end %>
	</ul>
<% else %>
  <p>
   No Events found
  </p>
<% end %>
</ul>